body {
    background-color: lemonchiffon;
}

#cardMargin {
    margin: 1%;
    max-width: 200px;
    justify-content: center;
}

#studentForm {
    margin-left: 50px;
    max-width: 1000px;
    text-align: center;
    border: black solid 1px;
    padding: 10px;

}

.jumbotron {
    margin: 10px;
    text-align: center;
}

.card {
    padding: 5px;
}