body {
    background-color: lemonchiffon;
}

#cardMargin {
    margin: 1%;
    max-width: 200px;
    justify-content: center;
}

#studentForm {
    margin: 1%;
    max-width: 80%;
    border: solid black 2px;

}

.jumbotron {
    margin: 10px;
    text-align: center;
}