body {
    background-color: lemonchiffon;
    


}


#cardMargin {
    margin: 1%;
    max-width: 200px;
    justify-content: center;
}

#studentForm {
    margin-left: 50px;
    max-width: 1000px;
    text-align: center;
    border: grey solid 0.5px;
    padding: 18px;
    font-family: 'Indie Flower', cursive;
    border-radius: 5%;

}

.jumbotron {
    margin: 10px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.card {
    padding: 5px;
    font-family: 'Indie Flower', cursive;
}

